body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    width: 520px;
    background-color: #c0c0c0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-family: monospace;
    position: relative;
    display: flex; 
    align-items: right; 
    overflow-x: hidden;
    white-space: nowrap;
}

#answer-box {
    border-left: 2px solid #d3d3d3;
    border-bottom: 2px solid #d3d3d3;
    border-bottom-left-radius: 5px;
    width: auto;
    line-height: 30px;
    position: relative;
    align-items: center;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

#text-before-caret,
#text-after-caret {
    letter-spacing: 0.5px;
}

#caret {
    position: relative;
    min-width: 2px;
    height: 90%;
    background-color: black;
    animation: blink 1s infinite step-start;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

button {
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ans {
    background-color: #e59554;
}

.ans:active{
    background-color: #e5893d;
}

button:active {
    background-color: #ccc;
}

.operation {
    background-color: #f0ad4e;
    color: white;
}

.operation:active {
    background-color: #d2ba99;
}

.equals {
    background-color: #5cb85c;
    color: white;
}

.equals:active {
    background-color: #4cae4c;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  /* 7 columns for buttons */
    gap: 10px;
}

button {
    padding: 15px;
    text-align: center;
}

.button-wide {
    grid-column: span 2;  /* Span 2 columns for wider buttons (like zero or equals) */
}
